/* Styles for Desktop Gallery */
.image-gallery-desktop {
    column-count: 3;
    column-gap: 5px;
}

.image-gallery-desktop img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 5px;
    break-inside: avoid; /* Prevents images from being split across columns */
}

.image-gallery-mobile {
    column-count: 1;
    column-gap: 5px;
}

.image-gallery-mobile img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 5px;
    break-inside: avoid; /* Prevents images from being split across columns */
}

@media only screen and (min-width: 769px) {
    .image-gallery-mobile {
        display: none;
    }
}

/* Hide desktop gallery on mobile */
@media only screen and (max-width: 768px) {
    .image-gallery-desktop {
        display: none;
    }
}